<nav class="sort-tabs" aria-label="並び替え">
  <a class="<%= sort === 'active' ? 'is-active' : '' %>" href="<%= basePath %>?sort=active">アクティブ</a>
  <a class="<%= sort === 'popular' ? 'is-active' : '' %>" href="<%= basePath %>?sort=popular">人気</a>
  <a class="<%= sort === 'new' ? 'is-active' : '' %>" href="<%= basePath %>?sort=new">新着</a>
</nav>
